<div class="home-container">
  <div class="content">
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempoadscdascdascr incididunt dascdascd labore et dolore magna aliqua. Ut
      enim ad minim veniam, quis nostrud exercitaacvdscvtion ullamco
      dcvadscdascds sdcfdascasclaboris nisi ut aliquip ex ea commodo
      conseqacdascdascdascuat. sdasv sdcvsdcvDuis autedc irure dolor in
      reprehenderit in voluptate velit esse cidacdasllum dolore eu fugiat nulla
      pariatur. Excepcadscdascdascdascteur sint occaecat cupidatat non
      prdscdscsdcvsdccsdcoident, sunt in culpa qui officia deserunt mollit anim
      id est laborum.
    </p>
  </div>
</div>
